# --- Python 垃圾文件 ---
__pycache__/
*.py[cod]
*$py.class

# --- 虚拟环境 (千万别传这个) ---
venv/
.venv/
env/

# --- 数据库 ---
*.sqlite3
*.db

# --- 环境变量与密钥 (安全红线!) ---
.env
.env.production
.env.development
instance/

# --- IDE 配置 ---
.vscode/
.idea/